<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Protect-Meet</title>
  </head>

  <body>
    <header class="bg-gray-900 py-5" x-data="{expanded: false}">
      <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="flex items-center justify-between">
          <div class="shrink-0">
            <a href="#" title="" class="flex">
              <img
                class="w-auto h-9"
                src="https://landingfoliocom.imgix.net/store/collection/dusk/images/logo.svg"
                alt=""
              />
            </a>
          </div>

          <div class="flex md:hidden">
            <button
              type="button"
              class="text-white"
              @click="expanded = !expanded"
              :aria-expanded="expanded"
            >
              <span x-show="!expanded" aria-hidden="true">
                <svg
                  class="w-7 h-7"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
              </span>

              <span x-show="expanded" aria-hidden="true">
                <svg
                  class="w-7 h-7"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 18L18 6M6 6l12 12"></path>
                </svg>
              </span>
            </button>
          </div>

          <div
            class="relative hidden md:items-center md:justify-center md:inline-flex group"
          >
          </div>
        </div>
      </div>
    </header>

    <!-- Hero -->
    <section class="hero bg-gray-900 pt-10 pb-20">
      <div class="px-4 mx-auto relativea sm:px-6 lg:px-8 max-w-7xl">
        <div
          class="grid items-center grid-cols-1 gap-y-12 lg:grid-cols-2 gap-x-10"
        >
          <div>
            <h1
              class="text-4xl font-normal text-white sm:text-4xl lg:text-6xl xl:text-7xl"
            >
              Protect-Meet Secure Your Video Conferences
            </h1>
            <p class="mt-4 text-lg font-normal text-gray-400 sm:mt-10">
              Installs in seconds from the Chrome Web Store Automatically blocks
              screenshots as soon as it's activate ompatible with Zoom, Google
              Meet, Microsoft Teams, and more. With Protect-Meet, transform your
              browser into a privacy fortress for your most important meetings.
            </p>

            <form
              action="#"
              method="POST"
              class="relative mt-8 rounded-full sm:mt-12"
            >
              <div class="relative">
                <div
                  class="absolute rounded-full -inset-px bg-gradient-to-r from-cyan-500 to-purple-500"
                >
                </div>
                <div class="relative">
                  <div class="absolute inset-y-0 left-0 flex items-center pl-6">
                    <svg
                      class="w-5 h-5 text-gray-500"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                    </svg>
                  </div>
                  <input
                    type="email"
                    name=""
                    id=""
                    placeholder="Enter your e-mail"
                    class="block w-full py-4 pr-6 text-white placeholder-gray-500 bg-black border border-transparent rounded-full pl-14 sm:py-5 focus:border-transparent focus:ring-0"
                  />
                </div>
              </div>
              <div
                class="sm:absolute flex sm:right-1.5 sm:inset-y-1.5 mt-4 sm:mt-0"
              >
                <button
                  type="submit"
                  class="inline-flex items-center justify-center w-full px-5 py-5 text-sm font-semibold tracking-widest text-black uppercase transition-all duration-200 bg-white rounded-full sm:w-auto sm:py-3 hover:opacity-90"
                  >Get in Touch</button
                >
              </div>
            </form>

            <div class="mt-8 sm:mt-12">
              <p class="text-lg font-normal text-white">
                Trusted by 50k+ users
              </p>

              <div class="flex items-center mt-3">
                <div class="flex">
                  <span class="ml-2 text-base font-normal text-white">
                    XXXXXXXXXXX
                  </span>
                  <span class="ml-1 text-base font-normal text-gray-500">
                    XXXXXXXXXXXXX
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Feature -->
    <section class="py-12 bg-white sm:py-16 lg:py-20">
      <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="text-center">
          <h2
            class="text-3xl font-bold leading-tight text-gray-900 sm:text-4xl xl:text-5xl font-pj"
          >
            Make every step user-centric
          </h2>
          <p class="mt-4 text-base leading-7 text-gray-600 sm:mt-8 font-pj">
            Lorem ipsum dolor sit amet, consectetur adipis elit
          </p>
        </div>

        <div
          class="grid grid-cols-1 mt-10 text-center sm:mt-16 sm:grid-cols-2 sm:gap-x-12 gap-y-12 md:grid-cols-3 md:gap-0 xl:mt-24"
        >
          <div class="md:p-8 lg:p-14">
            <svg
              class="mx-auto"
              width="46"
              height="46"
              viewBox="0 0 46 46"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M45 29V23C45 10.85 35.15 1 23 1C10.85 1 1 10.85 1 23V29"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M13 29H1V41C1 43.209 2.791 45 5 45H13V29Z"
                fill="#D4D4D8"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M45 29H33V45H41C43.209 45 45 43.209 45 41V29Z"
                fill="#D4D4D8"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            <h3 class="mt-12 text-xl font-bold text-gray-900 font-pj">
              Support
            </h3>
            <p class="mt-5 text-base text-gray-600 font-pj">
              Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec,
              proin faucibus nibh et sagittis a. Lacinia purus ac amet.
            </p>
          </div>

          <div class="md:p-8 lg:p-14 md:border-l md:border-gray-200">
            <svg
              class="mx-auto"
              width="46"
              height="46"
              viewBox="0 0 46 46"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27 27H19V45H27V27Z"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M9 37H1V45H9V37Z"
                fill="#D4D4D8"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M45 17H37V45H45V17Z"
                fill="#D4D4D8"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M5 17L15 7L23 15L37 1"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M28 1H37V10"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            <h3 class="mt-12 text-xl font-bold text-gray-900 font-pj">Sales</h3>
            <p class="mt-5 text-base text-gray-600 font-pj">
              Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec,
              proin faucibus nibh et sagittis a. Lacinia purus ac amet.
            </p>
          </div>

          <div class="md:p-8 lg:p-14 md:border-l md:border-gray-200">
            <svg
              class="mx-auto"
              width="42"
              height="42"
              viewBox="0 0 42 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M41 1H1V41H41V1Z"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M18 7H7V20H18V7Z"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M18 26H7V35H18V26Z"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M35 7H24V35H35V7Z"
                fill="#D4D4D8"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            <h3 class="mt-12 text-xl font-bold text-gray-900 font-pj">
              Onboarding
            </h3>
            <p class="mt-5 text-base text-gray-600 font-pj">
              Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec,
              proin faucibus nibh et sagittis a. Lacinia purus ac amet.
            </p>
          </div>

          <div class="md:p-8 lg:p-14 md:border-t md:border-gray-200">
            <svg
              class="mx-auto"
              width="42"
              height="42"
              viewBox="0 0 42 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9.66667 25H6C3.23858 25 1 27.2386 1 30V37C1 39.7614 3.23858 42 6 42H36C38.7614 42 41 39.7614 41 37V30C41 27.2386 38.7614 25 36 25H31.8333C30.2685 25 29 26.2685 29 27.8333C29 29.3981 27.7315 30.6667 26.1667 30.6667H15.3333C13.7685 30.6667 12.5 29.3981 12.5 27.8333C12.5 26.2685 11.2315 25 9.66667 25Z"
                fill="#D4D4D8"></path>
              <path
                d="M9 9H33"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M9 17H33"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M1 25H13V31H29V25H41"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M37 1H5C2.79086 1 1 2.79086 1 5V37C1 39.2091 2.79086 41 5 41H37C39.2091 41 41 39.2091 41 37V5C41 2.79086 39.2091 1 37 1Z"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            <h3 class="mt-12 text-xl font-bold text-gray-900 font-pj">
              Product
            </h3>
            <p class="mt-5 text-base text-gray-600 font-pj">
              Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec,
              proin faucibus nibh et sagittis a. Lacinia purus ac amet.
            </p>
          </div>

          <div
            class="md:p-8 lg:p-14 md:border-l md:border-gray-200 md:border-t"
          >
            <svg
              class="mx-auto"
              width="46"
              height="42"
              viewBox="0 0 46 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M30.562 18.4609C30.0511 17.9392 29.4292 17.5392 28.7426 17.2907C28.0559 17.0422 27.3221 16.9516 26.5956 17.0256C25.8692 17.0996 25.1687 17.3362 24.5462 17.718C23.9237 18.0998 23.3952 18.6169 23 19.2309C22.6049 18.6167 22.0764 18.0995 21.4539 17.7176C20.8315 17.3357 20.1309 17.099 19.4044 17.025C18.6779 16.951 17.944 17.0417 17.2573 17.2903C16.5706 17.5389 15.9488 17.939 15.438 18.4609C14.5163 19.4035 14.0002 20.6695 14.0002 21.9879C14.0002 23.3063 14.5163 24.5722 15.438 25.5149L23 33.1999L30.564 25.5159C31.485 24.5726 32.0004 23.3064 32 21.988C31.9997 20.6696 31.4835 19.4037 30.562 18.4609Z"
                fill="#D4D4D8"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M41 41H5C3.93913 41 2.92172 40.5786 2.17157 39.8284C1.42143 39.0783 1 38.0609 1 37V1H17L22 9H45V37C45 38.0609 44.5786 39.0783 43.8284 39.8284C43.0783 40.5786 42.0609 41 41 41Z"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            <h3 class="mt-12 text-xl font-bold text-gray-900 font-pj">
              Quality
            </h3>
            <p class="mt-5 text-base text-gray-600 font-pj">
              Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec,
              proin faucibus nibh et sagittis a. Lacinia purus ac amet.
            </p>
          </div>

          <div
            class="md:p-8 lg:p-14 md:border-l md:border-gray-200 md:border-t"
          >
            <svg
              class="mx-auto"
              width="44"
              height="44"
              viewBox="0 0 44 44"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M25 7C34.941 7 43 15.059 43 25C43 34.941 34.941 43 25 43C15.059 43 7 34.941 7 25"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M19 1C9.059 1 1 9.059 1 19H19V1Z"
                fill="#D4D4D8"
                stroke="#161616"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            <h3 class="mt-12 text-xl font-bold text-gray-900 font-pj">
              Result
            </h3>
            <p class="mt-5 text-base text-gray-600 font-pj">
              Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec,
              proin faucibus nibh et sagittis a. Lacinia purus ac amet.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!--Pricing -->
    <section class="bg-white py-24 sm:py-30">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl sm:text-center">
          <h2
            class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            Protect-Meet pricing
          </h2>
          <p class="mt-6 text-lg leading-8 text-gray-600">
            Distinctio et nulla eum soluta et neque labore quibusdam. Saepe et
            quasi iusto modi velit ut non voluptas in. Explicabo id ut laborum.
          </p>
        </div>
        <div
          class="mx-auto mt-16 max-w-2xl rounded-3xl ring-1 ring-gray-200 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none"
        >
          <div class="p-8 sm:p-10 lg:flex-auto">
            <h3 class="text-2xl font-bold tracking-tight text-gray-900">
              Lifetime membership
            </h3>
            <p class="mt-6 text-base leading-7 text-gray-600">
              Lorem ipsum dolor sit amet consect etur adipisicing elit. Itaque
              amet indis perferendis blanditiis repellendus etur quidem
              assumenda.
            </p>
            <div class="mt-10 flex items-center gap-x-4">
              <h4
                class="flex-none text-sm font-semibold leading-6 text-indigo-600"
              >
                What’s included
              </h4>
              <div class="h-px flex-auto bg-gray-100"></div>
            </div>
            <ul
              role="list"
              class="mt-8 grid grid-cols-1 gap-4 text-sm leading-6 text-gray-600 sm:grid-cols-2 sm:gap-6"
            >
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Private forum access
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Member resources
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Entry to annual conference
              </li>
              <li class="flex gap-x-3">
                <svg
                  class="h-6 w-5 flex-none text-indigo-600"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                    clip-rule="evenodd"></path>
                </svg>
                Official member t-shirt
              </li>
            </ul>
          </div>
          <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
            <div
              class="rounded-2xl bg-gray-50 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16"
            >
              <div class="mx-auto max-w-xs px-8">
                <p class="text-base font-semibold text-gray-600">
                  Pay once, own it forever
                </p>
                <p class="mt-6 flex items-baseline justify-center gap-x-2">
                  <span class="text-5xl font-bold tracking-tight text-gray-900"
                    >$49.99</span
                  >
                  <span
                    class="text-sm font-semibold leading-6 tracking-wide text-gray-600"
                    >USD</span
                  >
                </p>
                <a
                  href="#"
                  class="mt-10 block w-full rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                  >Comming soon</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--footer -->
    <footer class="bg-gray-900 p-10">
      <div class="max-w-2xl mx-auto text-white py-20">
        <div class="text-center">
          <h3 class="text-3xl mb-3">
            Download our extension from Chrome Store
          </h3>
          <p>Stay fit, All day, every day.</p>
          <div class="flex justify-center my-10">
            <div
              class="flex items-center border w-auto rounded-lg px-4 py-2 w-52 mx-2"
            >
              <img
                src="https://cdn-icons-png.flaticon.com/512/888/888857.png"
                class="w-7 md:w-8"
              />
              <div class="text-left ml-3">
                <p class="text-xs text-gray-200">Download on</p>
                <p class="text-sm md:text-base">Google Play Store</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="mt-15 flex flex-col md:flex-row md:justify-between items-center text-sm text-gray-400"
      >
        <p class="order-2 md:order-1 mt-8 md:mt-0">
          &copy; Protect-Meet. All rights reserved. MIT License.
        </p>
        <div class="order-1 md:order-0">
          <span class="px-2">Follow us</span>
          <span class="px-2 border-l">Contact us</span>
          <span class="px-2 border-l">Privacy Policy</span>
        </div>
      </div>
    </footer>
  </body>
</html>
